<tr id="{{id}}" data-symbol-id="{{filename}}" data-parent-id="{{parentId}}">
  <td class="col-status">&nbsp;</td>
  <th class="col-file" scope="row" aria-label=""{{filename}}, a symbol of {{parentname}}">
    <span class="symbol-icon-wrap" title="A symbol of {{parentname}}">
      <svg class="symbol-icon"><use xlink:href="#icon-symbol" /></svg>
    </span>
    <span class="symbol-name">#<span class="symbol-id">{{filename}}</span></span>
  </th>
  <td class="col-reveal">&nbsp;</td>
  <td class="col-size">&nbsp;</td>
  <td class="col-savings">&nbsp;</td>
  <td class="col-remove">
    <button class="btn-remove-file btn-seamless" aria-label="Remove File">
      <svg class="btn-icon"><use xlink:href="#icon-remove" /></svg>
    </button>
  </td>
</tr>
