:root {
  --control-font-size: .8125rem;
  --control-font-size-smaller: .75rem;
  --control-padding: .2rem 1rem;
  --control-border-radius: .3125rem;
  --control-border-color: #d2d2d2;
  --control-border-color-darker: #b3b3b3;
  --control-outline: 2px solid rgba(0, 0, 0, .8);
  --control-outline-offset: 2px;
}

html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;

  background-color: transparent;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
  line-height: inherit;
}

body {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: transparent;
}

[hidden] {
  display: none !important;
}

nav {
  align-items: center;
  display: flex;
  padding: 10px 10px 11px;
  position: relative;
  z-index: 100;

  background-color: #eaeaea;
  border-top: 1px solid #c7c7c7;
}

.window-blurred nav {
  background-color: #f6f6f6;
}

nav div:first-child {
  margin-right: auto;
}

button:not(.btn-seamless) {
  padding: var(--control-padding);

  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #fefefe, #f3f3f3);
  border: 1px solid var(--control-border-color);
  border-bottom-color: var(--control-border-color-darker);
  border-radius: var(--control-border-radius);
  box-shadow: 0px 1px 0px rgba(100, 100, 100, .1);

  font-size: var(--control-font-size);
}

button:focus {
  outline: var(--control-outline);
  outline-offset: var(--control-outline-offset);
}

button:not(.btn-seamless):active {
  background-image: linear-gradient(to bottom, #4e98fa, #136be1);
  border-color: #2a81fb;
  border-bottom-color: #0546da;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, .3);
  outline: 0;

  color: #fff;
}

.window-blurred button:not(.btn-seamless),
button[disabled] {
  opacity: .5;
}

.btn-seamless {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0;

  color: inherit;
  fill: currentColor;
}

.btn-icon {
  height: 80%;
  width: 80%;
  opacity: .2;
}

tr[data-state="focused"] .btn-icon {
  opacity: .5;
}

input[type="checkbox"] {
  position: fixed;
  left: 130%;
}

label {
  display: inline-block;
  padding: var(--control-padding);

  font-size: var(--control-font-size);
}

.window-blurred label {
  opacity: .5;
}

input[type="checkbox"] + label {
  padding-left: 10px;
  padding-right: 42px;
  position: relative;
}

input[type="checkbox"] + label::after {
  content: " ";
  height: 20px;
  position: absolute;
  right: 0;
  top: 48%;
  width: 32px;

  background-color: #bbb;
  border-radius: 32px;
  border: 1px solid var(--control-border-color-darker);
  transform: translateY(-50%);
  transition: all 100ms linear;
}

input[type="checkbox"] + label::before {
  content: " ";
  height: 16px;
  position: absolute;
  right: 14px;
  top: 48%;
  width: 16px;
  z-index: 2;

  background-color: #fff;
  background-image: linear-gradient(to bottom, #fefefe, #f3f3f3);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(100, 100, 100, .3);
  transform: translateY(-50%);
  transition: all 100ms linear;
}

input[type="checkbox"]:checked + label::after {
  background-color: #007aff;
  border-color: #1d62f0;
}

input[type="checkbox"]:checked + label::before {
  right: 2px;
}

input[type="checkbox"]:focus + label {
  outline: var(--control-outline);
  outline-offset: var(--control-outline-offset);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-arrow {
  width: 128px;

  opacity: .3;
}

h1 {
  margin-top: 1.4rem;
  margin-bottom: 0;

  opacity: .4;

  color: #000;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
}

[title="and"] {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

main {
  flex-grow: 1;
  position: relative;

  background-color: #fff;
}

header {
  flex-grow: 1;
}

table {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  border-collapse: collapse;

  font-size: var(--control-font-size);
}

thead,
tbody {
  display: block;
  width: 100%;
}

th,
td {
  padding: var(--control-padding);

  font-weight: normal;
  text-align: left;
}

table tr {
  display: flex;
  width: 100%;
}

table tr:nth-child(even),
table tbody tr:only-of-type {
  background-color: #f6f6f6;
}

.col-status,
.col-reveal,
.col-remove {
  position: relative;
  width: 2rem;
}

.col-file {
  flex-grow: 1;
}

.col-size {
  width: 13rem;

  text-align: center;
}

.col-savings {
  width: 5.2rem;
  text-align: right;
}

thead {
  width: 100%;

  background-color: #fff;

  font-size: var(--control-font-size-smaller);
}

thead tr:first-child {
  border-bottom: 1px solid #ddd;
  opacity: .8;
}

thead th {
  border-right: 1px solid #ddd;
}

thead th:last-child {
  border-right: 0;
}

thead .col-file {
  border-right: 0;
}

tbody {
  overflow-y: auto;
}

tbody[data-state="not-scrollable"] {
  overflow-y: hidden;
}

/* tr:focus, */
/* tr:focus:nth-child(even), */
tr[data-state="focused"],
tr[data-state="focused"]:nth-child(even) {
  background-color: #007aff;
  color: #fff;
  outline: none;
}

.status-progress {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#a8a6af'/><circle cx='128' cy='128' r='52.8' fill='#fff'/></svg>");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.status-progress::-webkit-progress-bar {
  background: none;
}

.status-progress::-webkit-progress-value {
  background: none;
}

.status-progress[value="1"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#ffd30d'/><circle cx='128' cy='128' r='52.8' fill='#fff'/></svg>");
}

.status-progress[value="2"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#6dd110'/><path d='M97.8 160.7q7.7-16.1 18.3-35.3a423.9 423.9 0 0 1 24-38.3q13.4-19.1 19.6-25.4t10.4-9.9q4.3-3.7 15.1-5.4a116.6 116.6 0 0 1 16.4-1.7 8.4 8.4 0 0 1 6 2.3 7.8 7.8 0 0 1 2.4 5.9 8.6 8.6 0 0 1-1.4 4.9 43.5 43.5 0 0 1-5.7 6.1q-20.7 19-43.1 54.2t-35.5 68.2q-6.2 15.1-8 17.8a17.6 17.6 0 0 1-5.5 4.9q-3.7 2.3-15.1 2.3-9 0-11.6-1.1a14 14 0 0 1-3.9-2.4q-1.4-1.3-7.8-10.9t-19.1-24.1q-7.2-8-7.3-13.3 0-7.8 8.2-13.6t14.6-5.8q6.9 0 14.8 5.6a57.7 57.7 0 0 1 14.2 15z' fill='#fff'/></svg>");
}

.size-arrow {
  display: inline-block;
  margin-top: 0.1em;

  opacity: .4;

  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1px;
}

.size-bytes {
  display: inline-block;
  padding: 0 .4em;
  width: 5.6em;
}

.size-bytes:first-child {
  text-align: right;
}

.size-bytes:last-child {
  text-align: left;
}

.btn-reveal-in-finder,
.btn-remove-file {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
