:root {
  --control-font-size: .8125rem;
  --control-font-size-smaller: .75rem;
  --control-padding: .2rem 1rem;
  --control-border-radius: .3125rem;
  --control-border-color: #d2d2d2;
  --control-border-color-darker: #b3b3b3;
  --control-outline: 2px solid rgba(0, 0, 0, .8);
  --control-outline-offset: 2px;
}

html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;

  background-color: transparent;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
  line-height: inherit;
}

body {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: transparent;
}

[hidden] {
  display: none !important;
}

.image-replacement, .ir {
  overflow: hidden;
  direction: ltr;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.i-16, .i--16 {
  height: 16px;
  width: 16px;
}

.icon img,
.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

img,
svg,
button * {
  pointer-events: none;
}

nav {
  align-items: center;
  display: flex;
  padding: 10px 10px 11px;
  position: relative;
  z-index: 100;

  background-color: #eaeaea;
  border-top: 1px solid #c7c7c7;
}

.window-blurred nav {
  background-color: #f6f6f6;
}

nav div:first-child {
  margin-right: auto;
}

button * {
  pointer-events: none;
}

button:not(.btn-seamless) {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: 2.2em;
  padding: var(--control-padding);

  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #fefefe, #f3f3f3);
  border: 1px solid var(--control-border-color);
  border-bottom-color: var(--control-border-color-darker);
  border-radius: var(--control-border-radius);
  box-shadow: 0px 1px 0px rgba(100, 100, 100, .1);

  font-size: var(--control-font-size);
  vertical-align: middle;
}

button:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .5);
}

button:not(.btn-seamless):active {
  background-image: linear-gradient(to bottom, #4e98fa, #136be1);
  border-color: #2a81fb;
  border-bottom-color: #0546da;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, .3);
  outline: 0;

  color: #fff;
}

.window-blurred button:not(.btn-seamless),
button[disabled] {
  opacity: .5;
}

button .icon {
  opacity: .7;
}

.btn-seamless {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0;

  color: inherit;
  fill: currentColor;
}

.btn-seamless:focus {
  box-shadow: none;
}

.btn-seamless:focus .btn-icon {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .5);
}

tr[data-state="focused"] .btn-seamless:focus .btn-icon {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .9);
}

.btn-icon {
  height: 16px;
  width: 16px;
  overflow: hidden;

  border-radius: 50%;
}

.btn-icon use {
  opacity: .2;
}

tr[data-state="focused"] .btn-icon use {
  opacity: .5;
}

input[type="checkbox"] {
  position: fixed;
  left: 130%;
}

label {
  display: inline-block;
  padding: var(--control-padding);

  font-size: var(--control-font-size);
}

.window-blurred label {
  opacity: .5;
}

input[type="checkbox"] + label {
  padding-left: 10px;
  padding-right: 42px;
  position: relative;
}

input[type="checkbox"] + label::after {
  content: " ";
  height: 20px;
  position: absolute;
  right: 0;
  top: 48%;
  width: 32px;

  background-color: #bbb;
  border-radius: 32px;
  border: 1px solid var(--control-border-color-darker);
  transform: translateY(-50%);
  transition: background-color 100ms linear, border 100ms linear;
}

input[type="checkbox"] + label::before {
  content: " ";
  height: 16px;
  position: absolute;
  right: 14px;
  top: 48%;
  width: 16px;
  z-index: 2;

  background-color: #fff;
  background-image: linear-gradient(to bottom, #fefefe, #f3f3f3);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(100, 100, 100, .3);
  transform: translateY(-50%);
  transition: all 100ms linear;
}

input[type="checkbox"]:checked + label::after {
  background-color: #007aff;
  border-color: #1d62f0;
}

input[type="checkbox"]:checked + label::before {
  right: 2px;
}

input[type="checkbox"]:focus + label {
  outline: 0;
  outline-offset: 0;
}

input[type="checkbox"]:focus + label::after {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .5);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  text-align: center;
}

.drag-n-drop-label {
  display: inline-block;
  margin: .15em 0 0 .4em;

  font-size: .8125rem;
  vertical-align: middle;
}

.window-blurred .drag-n-drop-label {
  opacity: .4;
}

.drop-arrow {
  width: 128px;

  opacity: .3;
}

h1 {
  margin-top: 1.4rem;
  margin-bottom: 0;

  opacity: .4;

  color: #000;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
}

[title="and"] {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

main {
  flex-grow: 1;
  position: relative;

  background-color: #fff;
}

header {
  flex-grow: 1;
}

table {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  border-collapse: collapse;

  font-size: var(--control-font-size);
}

thead,
tbody {
  display: block;
  width: 100%;
}

th,
td {
  padding: var(--control-padding);

  font-weight: normal;
  text-align: left;
}

table tr {
  display: flex;
  width: 100%;
}

table tr:nth-child(even),
table tbody tr:only-of-type {
  background-color: #f6f6f6;
}

.col-status,
.col-reveal,
.col-remove {
  position: relative;
  width: 2rem;
}

.col-file {
  flex-grow: 1;
}

.col-size {
  width: 14rem;

  text-align: center;
}

.col-savings {
  width: 5.2rem;
  text-align: right;
}

thead {
  width: 100%;

  background-color: #fff;

  font-size: var(--control-font-size-smaller);
}

thead tr:first-child {
  border-bottom: 1px solid #ddd;
  opacity: .8;
}

thead th {
  border-right: 1px solid #ddd;
}

thead th:last-child {
  border-right: 0;
}

thead .col-file {
  border-right: 0;
}

tbody {
  overflow-y: auto;
}

tbody[data-state="not-scrollable"] {
  overflow-y: hidden;
}

tr[data-state="focused"],
table tbody tr:only-of-type[data-state="focused"],
tr[data-state="focused"]:nth-child(even) {
  background-color: #007aff;
  color: #fff;
  outline: none;
}

.status-progress {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#a8a6af'/><circle cx='128' cy='128' r='52.8' fill='#fff'/></svg>");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.status-progress::-webkit-progress-bar {
  background: none;
}

.status-progress::-webkit-progress-value {
  background: none;
}

.status-progress[value="1"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#ffd30d'/><circle cx='128' cy='128' r='52.8' fill='#fff'/></svg>");
}

.status-progress[value="2"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><circle cx='128' cy='128' r='127' fill='#6dd110'/><path d='M97.8 160.7q7.7-16.1 18.3-35.3a423.9 423.9 0 0 1 24-38.3q13.4-19.1 19.6-25.4t10.4-9.9q4.3-3.7 15.1-5.4a116.6 116.6 0 0 1 16.4-1.7 8.4 8.4 0 0 1 6 2.3 7.8 7.8 0 0 1 2.4 5.9 8.6 8.6 0 0 1-1.4 4.9 43.5 43.5 0 0 1-5.7 6.1q-20.7 19-43.1 54.2t-35.5 68.2q-6.2 15.1-8 17.8a17.6 17.6 0 0 1-5.5 4.9q-3.7 2.3-15.1 2.3-9 0-11.6-1.1a14 14 0 0 1-3.9-2.4q-1.4-1.3-7.8-10.9t-19.1-24.1q-7.2-8-7.3-13.3 0-7.8 8.2-13.6t14.6-5.8q6.9 0 14.8 5.6a57.7 57.7 0 0 1 14.2 15z' fill='#fff'/></svg>");
}

[data-reverted="true"] .status-progress[value="2"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'><title>error</title><circle fill='#a8a6af' cx='128' cy='128' r='127'/><path fill='#fff' d='M106.9 121.2l-14-56.9a16.4 16.4 0 0 1-.9-5 17.3 17.3 0 0 1 3.7-11.2q3.7-4.6 8.4-4.6 8.4 0 17.5 11.6t16.8 31q2.1-1.7 18.3-19.4 13.4-14.6 17.6-17.7a14.4 14.4 0 0 1 8.7-3q5.7 0 10.6 5.6t5 11.4q0 5.4-5.8 5.7a4.7 4.7 0 0 0-2.5.4l-.6 2.1a15.6 15.6 0 0 1-2.3 3.5q-6.2 6.8-18.1 25.7Q156 121 154.2 123a11.1 11.1 0 0 0-2.8 7.1q0 7.6 4.9 20.7a108.3 108.3 0 0 0 13.4 25q3.6 5.5 3.6 7.3t-1.9 4.1a3.2 3.2 0 0 1 .8 2 3.6 3.6 0 0 1-1.3 3.1 57.2 57.2 0 0 1-6.2 3.5q0 6.5-5.4 6.5-2.3 0-6.5-2.8a19.3 19.3 0 0 1-5.7-5.2 8.7 8.7 0 0 0-3.3-2.6 6.8 6.8 0 0 1-2.6-1.2q-.9-.7-4.2-4.2a9.9 9.9 0 0 0-2.6-1.9q-3.1-1.3-6-6.9-1.4-3.5-7.6-13.1l-38 41.1a64.5 64.5 0 0 1-4.7 4.6q-2.8 2.4-4.4 2.4a4.2 4.2 0 0 1-3-1.1q-1.2-1.1-1.3-7.3l-1.4-1.5a8.4 8.4 0 0 1-1.3-3.4l-2.2-1.1a25.7 25.7 0 0 0-6-6.9l-.2-3.4-.7-3a12.1 12.1 0 0 1 1.4-4.3q1.4-3 13.7-17.9t15.2-17.7q10.8-10.1 11.5-13.3 2.1-8.8 7.5-10.4z'/></svg>");
}

[data-reverted="true"] .col-file {
  text-decoration: line-through;
}

.size-arrow {
  display: inline-block;
  margin-top: 0.1em;

  opacity: .4;

  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1px;
}

.size-bytes {
  display: inline-block;
  padding: 0 .4em;
  width: 5.6em;
  white-space: nowrap;
}

.size-bytes:first-child {
  text-align: right;
}

.size-bytes:last-child {
  text-align: left;
}

.btn-reveal-in-finder,
.btn-remove-file {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-remove-file:hover {
  color: #ff3b30;
}

.btn-remove-file:hover .btn-icon {
  background-color: #fff;
}

.btn-remove-file:hover .btn-icon use {
  opacity: 1;
}

#robot-bust-wrap {
  bottom: -39px;
  left: 2.9em;
  position: absolute;
  width: 96px;
}

#robot-speech {
  left: 50%;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  top: -1.7em;
  width: 12em;

  background-color: rgba(0, 0, 0, .16);
  border-radius: var(--control-border-radius);
  transform: translateX(-50%);

  color: #fff;
  font-size: 11px;
  text-align: center;
}

#robot-speech-triangle {
  bottom: -8px;
  left: 50%;
  position: absolute;
  width: 16px;

  opacity: .16;
  transform: translateX(-50%);
}

#robot-bust {
  width: 100%;

  opacity: .16;
}
